@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url(./images/image.png);
  background-size: cover; /* Ensures the image covers the viewport while maintaining aspect ratio */
  background-repeat: no-repeat;
}
.fade-in-out {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-in-out:visible {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
